apiVersion: v1
kind: Service
metadata:
  name: heart-predict-api
  labels:
    app: heart-predict-api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: heart-predict-api
  sessionAffinity: None
